In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import pymongo
import re
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import time

# getting gkey from the config file
from config import gkey

# getting the info for sql bench
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

In [14]:
# Creating engine to mysql
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

In [24]:
rating_df = pd.read_sql(
        "SELECT distinct(keyword), count(*) as total from pr.restaurants_tbl group by keyword",
        con=engine
    )

rating_df

    keyword  total
0   chinese     38
1  japanese     35
2   spanish     60
3    french     60

In [20]:
rating_df = pd.read_sql(
        "SELECT * from pr.restaurants_tbl limit 5",
        con=engine
    )

rating_df

,city,type,keyword,business_status,lat,lng,icon,name,place_id,price_level,photo_reference,rating,place_types,user_ratings_total,address
0,san juan,restaurant,chinese,OPERATIONAL,18.416976,-66.055491,https://maps.gstatic.com/mapfiles/place_api/ic...,First House China,ChIJ__jOWZhoA4wRSQL1ZgDsUBA,NaN,ATtYBwKW2DgdHTjoESsvV-3SL3YPO6--KCYCue5qbe4P5o...,4.4,"['restaurant', 'food', 'point_of_interest', 'e...",204,"505 Av. Juan Ponce de León, Hato Rey Central"
1,san juan,restaurant,chinese,OPERATIONAL,18.411750,-66.098794,https://maps.gstatic.com/mapfiles/place_api/ic...,China Taste,ChIJvYo1cANpA4wRdYjsLZ_Wr2s,1.0,ATtYBwK3DECawnUM1E74TY6HFDjRtFILp0cBruQE7gBTgi...,4.4,"['restaurant', 'food', 'point_of_interest', 'e...",568,"357 Puerto Rico, 355 Av. Escorial, San Juan"
2,san juan,restaurant,chinese,OPERATIONAL,18.450856,-66.074222,https://maps.gstatic.com/mapfiles/place_api/ic...,China Sun,ChIJGVVUkzZvA4wRMDMj3-Q4gmg,1.0,ATtYBwJK3De-tr9kioM_-cNC9Hiy3oVqFFSUE8oCtekLIh...,4.3,"['restaurant', 'food', 'point_of_interest', 'e...",485,"00907, 1213 Avenida de la Constitución, San Juan"
3,san juan,restaurant,chinese,OPERATIONAL,18.447603,-66.050281,https://maps.gstatic.com/mapfiles/place_api/ic...,New Chinatown Restaurant,ChIJHdcjk1ZvA4wRy657HTrUTx4,NaN,ATtYBwKuGIoNbslZ690altMVk_BQfwVxB8NO6ZgRFUWksS...,4.3,"['restaurant', 'food', 'point_of_interest', 'e...",75,"Norte Shopping Center, marginal Bardorioty de ..."
4,san juan,restaurant,chinese,OPERATIONAL,18.413352,-66.065339,https://maps.gstatic.com/mapfiles/place_api/ic...,La Gran China,ChIJ0f1mwZNoA4wRWgNe9CS8oUA,1.0,ATtYBwI50vBN28sGa-2Sks7JNpgB7HzsIZlAdqGdOtqAPb...,4.1,"['restaurant', 'food', 'point_of_interest', 'e...",394,"Puerto Rico, San Juan"